---

<img src="https://i.ibb.co/f2KxQM7/ETL-PIC-1.png" alt="extract-transform-load-picture" height=500px>

---

# Analyzing Books - ETL

In order to analyze and visualize the scraped data, first we need to clean and transform it into a suitable form. In this notebook, we'll be reviewing the scraped data and perform the necessary transformations.

## Imports and Setup

Before moving on to data transformation; we need to perform the following things:

- Importing and configuring necessary modules to perform data cleaning and transformations
- Importing and configuring the dataset upon which we need to work

### Module Imports & Settings

We need to import and configure _NumPy_, _Pandas_ and _Warnings_ module to perform the data cleansing and transformation

In [1]:
# Imports
# =======

import numpy as np
import pandas as pd
import warnings

# Module Settings
# ================

warnings.filterwarnings("ignore")

### Data Import

Let's import the scraped dataset to perform data cleaning and transformation

In [2]:
# Import
# ======

scraped_data = pd.read_csv("../01_SCRAPER/scraped_data.csv", index_col=False)

#### Checking Data Snippet

Let's check how the first few records of the dataset looks like

In [3]:
scraped_data.head(10)

,title,genre,price,star_rating,stock_availability,book_image,last_updated_at_UTC
0,It's Only the Himalayas,Travel,45.17,Two,In stock,https://books.toscrape.com/media/cache/27/a5/2...,07-Jun-2022 14:24:47
1,Full Moon over Noahâ€™s Ark: An Odyssey to Mount...,Travel,49.43,Four,In stock,https://books.toscrape.com/media/cache/57/77/5...,07-Jun-2022 14:24:47
2,See America: A Celebration of Our National Par...,Travel,48.87,Three,In stock,https://books.toscrape.com/media/cache/9a/7e/9...,07-Jun-2022 14:24:47
3,Vagabonding: An Uncommon Guide to the Art of L...,Travel,36.94,Two,In stock,https://books.toscrape.com/media/cache/d5/bf/d...,07-Jun-2022 14:24:47
4,Under the Tuscan Sun,Travel,37.33,Three,In stock,https://books.toscrape.com/media/cache/98/c2/9...,07-Jun-2022 14:24:47
5,A Summer In Europe,Travel,44.34,Two,In stock,https://books.toscrape.com/media/cache/4e/15/4...,07-Jun-2022 14:24:47
6,The Great Railway Bazaar,Travel,30.54,One,In stock,https://books.toscrape.com/media/cache/76/de/7...,07-Jun-2022 14:24:47
7,A Year in Provence (Provence #1),Travel,56.88,Four,In stock,https://books.toscrape.com/media/cache/db/46/d...,07-Jun-2022 14:24:47
8,The Road to Little Dribbling: Adventures of an...,Travel,23.21,One,In stock,https://books.toscrape.com/media/cache/e0/4f/e...,07-Jun-2022 14:24:47
9,Neither Here nor There: Travels in Europe,Travel,38.95,Three,In stock,https://books.toscrape.com/media/cache/06/81/0...,07-Jun-2022 14:24:47

#### Checking Data Fields

Let's check what fields we have in the dataset

In [4]:
list(scraped_data.columns)

['title',
 'genre',
 'price',
 'star_rating',
 'stock_availability',
 'book_image',
 'last_updated_at_UTC']

#### Metadata Information

The fields in the dataset can be defined as follows:

- **title** : Title of the book
- **genre** : Genre of the book
- **price** : Price of the book in Euros(Â£)
- **star_rating** : Rating of book out of 5
- **stock_availability** : Availability status of the book
- **book_image** : Image URL of the book
- **last_updated_at_UTC** : Latest UTC timestamp of item scraped

## Exploratory Analysis

In exploratory analysis we want to explore the dataset to find out what transformation we need to perform on the scraped dataset

### Data Profiling

In data profiling, we'll review the shape and structure of the dataset to figure out anomalies like outliers, missing values, etc. in the dataset that needs to be addressed in the data cleaning process

#### Shape of Dataset

Let's check the structure of the dataset

In [5]:
scraped_data.shape

(1000, 7)

we have 1000 records with 7 fields in the dataset

#### Basic Info of Dataset

Let's see an overview of the dataset and draw some insights

In [6]:
scraped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                1000 non-null   object
 1   genre                1000 non-null   object
 2   price                1000 non-null   float64
 3   star_rating          1000 non-null   object
 4   stock_availability   1000 non-null   object
 5   book_image           1000 non-null   object
 6   last_updated_at_UTC  1000 non-null   object
dtypes: float64(1), object(6)
memory usage: 54.8+ KB

There are no missing record in the dataset and it has 6 string and 1 numeric field

***ðŸ’¡ INSIGHT ðŸ’¡***

The columns that we want to keep as it is in terms of data transformation are:

- title
- genre
- price
- book_image
- last_updated_at_UTC

The transformations that we would like to have in `star_rating` column are as follows:

- Changing the ratings into their corresponding numeric value
- Changing the data type from `object` to `int16`

The transformation that we would like to have in `stock_availability` column are as follows:

- Changing the response to _"Yes"_ and _"No"_

#### Checking Unique Values in `star_rating` Column

Let's find out what are the unique values present in the `star_rating` column

In [7]:
list(scraped_data["star_rating"].unique())

['Two', 'Four', 'Three', 'One', 'Five']

There 5 unique values in `star_rating` column

#### Checking Unique Values in `stock_availability` Column

Let's find out what are the unique values present in the `stock_availability` column

In [8]:
list(scraped_data["stock_availability"].unique())

['In stock']

There is just a single value in the `stock_availability` column

### Action Items

Based on our observations, we have to perform the following data transformations:

- Changing the ratings into their corresponding numeric value for `star_rating` column
- Changing the response to _"Yes"_ and _"No"_ for `stock_availability` column
- Changing the data type of `star_rating` column from `object` to `int`
- Renaming existing fields
- Adding an index column to the dataset

## Data Transformation

In this stage, we'll address each of the action items that we've received from the previous stage to clean and transform the dataset

### Conditional Replacement

We need to replace the values of `star_rating` and `stock_availability` columns based on certain conditons

### Replacing `star_rating` Values

As we have multiple conditions to replace the column values, so, we'll be using `np.select()` method

In [9]:

## Defining existing and replacement values
## ========================================

conditions = [
    scraped_data['star_rating'] == 'One',
    scraped_data['star_rating'] == 'Two',
    scraped_data['star_rating'] == 'Three',
    scraped_data['star_rating'] == 'Four',
    scraped_data['star_rating'] == 'Five'
]

results = [1, 2, 3, 4, 5]

## Applying conditions
## ====================

scraped_data['star_rating'] = np.select(conditions, results)


## Viewing the unique values post replacement
## ===========================================

list(scraped_data['star_rating'].unique())

[2, 4, 3, 1, 5]

#### Replacing `stock_availability` 

Since, we can only have two types of value in the `stock_availability` column, so, we can leverage the list comprehension method here

In [10]:
## Replacing values with list comprehension
## ========================================

scraped_data['stock_availability'] = ['Yes' if x == 'In stock' else 'No' for x in scraped_data['stock_availability'] ]

## Viewing the unique values post replacement
## ===========================================

list(scraped_data['stock_availability'].unique())

['Yes']

### Changing Datatype

#### Changing Datatype of `star_rating` Column

Let's change the datatype of `star_rating` column from `object` to `int`

In [11]:
## Changing datatype of column
## ============================

scraped_data['star_rating'] = scraped_data['star_rating'].astype(int)

## Checking datatype after change
## ==============================

scraped_data['star_rating'].dtypes

dtype('int32')

### Renaming Fields

Let's provide appropriate naming to the fields in the dataset

In [12]:
## Defining new field names
## =========================

new_column_names = [
    'Title',
    'Genre',
    'Price (Â£)',
    'Rating',
    'Stock Availability Status',
    'Cover Page',
    'Last Update Timestamp (UTC)'
]

## Assigning new fields names to dataset
## =====================================

scraped_data.columns = new_column_names

#### Checking New Field Names

Let's check the field names post rename

In [13]:
list(scraped_data.columns)

['Title',
 'Genre',
 'Price (Â£)',
 'Rating',
 'Stock Availability Status',
 'Cover Page',
 'Last Update Timestamp (UTC)']

### Index Column Addition

Let's add an index column that will uniquely identify each record in the dataset

In [14]:
## Creating custom index column
## ============================

custom_index_col = pd.RangeIndex(start=1000, stop=1000+len(scraped_data), step=1, name='BookID')

## Adding index column
## ===================

scraped_data.index = custom_index_col
scraped_data.index = 'B' + scraped_data.index.astype('string')

### Transform Data Review

As we have completed all the required data transformation, let's review the transformed dataset once prior to export

#### Checking Data Snippet

Let's check how the first few records of the dataset looks like

In [15]:
scraped_data.head()

,Title,Genre,Price (Â£),Rating,Stock Availability Status,Cover Page,Last Update Timestamp (UTC)
BookID,,,,,,,
B1000,It's Only the Himalayas,Travel,45.17,2,Yes,https://books.toscrape.com/media/cache/27/a5/2...,07-Jun-2022 14:24:47
B1001,Full Moon over Noahâ€™s Ark: An Odyssey to Mount...,Travel,49.43,4,Yes,https://books.toscrape.com/media/cache/57/77/5...,07-Jun-2022 14:24:47
B1002,See America: A Celebration of Our National Par...,Travel,48.87,3,Yes,https://books.toscrape.com/media/cache/9a/7e/9...,07-Jun-2022 14:24:47
B1003,Vagabonding: An Uncommon Guide to the Art of L...,Travel,36.94,2,Yes,https://books.toscrape.com/media/cache/d5/bf/d...,07-Jun-2022 14:24:47
B1004,Under the Tuscan Sun,Travel,37.33,3,Yes,https://books.toscrape.com/media/cache/98/c2/9...,07-Jun-2022 14:24:47

#### Basic Info of Dataset
Let's see an overview of the dataset before exporting

In [16]:
scraped_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, B1000 to B1999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        1000 non-null   object
 1   Genre                        1000 non-null   object
 2   Price (Â£)                    1000 non-null   float64
 3   Rating                       1000 non-null   int32
 4   Stock Availability Status    1000 non-null   object
 5   Cover Page                   1000 non-null   object
 6   Last Update Timestamp (UTC)  1000 non-null   object
dtypes: float64(1), int32(1), object(5)
memory usage: 58.6+ KB

## Data Export

Let's export the clean dataset into a CSV file for data analysis and visualization

In [17]:
scraped_data.to_csv("../03_DATA/books_data.csv", encoding='utf-8', index_label='BookID')

This concludes the ETL process on the books dataset.